.service-container {
  width: 100%;

  .service-box {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 20px;

    .title {
      margin-top: 10px;
      color: rgba(38, 45, 51, 1);
      font-weight: 600;
      font-size: 32px;
    }

    .services-tab {
      margin-top: 20px;
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      .category-name {
        margin-top: 10px;
        width: max-content;
        margin-right: 10px;
        padding: 3px 5px;
        color: #262D33;
        font-weight: 500;
        transition: 0.3s;
        font-size: 16px;
        display: flex;
        align-items: center;
        border-radius: 3px;
        border-bottom: 2px solid #00ADAD;
        span {
          width: 3px;
          height: 3px;
          background-color: #85919E;
          border-radius: 50%;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }

    .service-content {
      margin-top: 30px;
      width: 70%;

      .title-service {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;

        span {
          width: 3px;
          height: 3px;
          background-color: #85919E;
          border-radius: 50%;
          margin-left: 5px;
          margin-right: 5px;
        }

        .num {
          color: rgba(133, 145, 158, 1);
        }
      }

      .services {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .service {
          margin-top: 10px;
          font-size: 16px;
          font-weight: 400;
          margin-right: 10px;
          color: rgba(38, 45, 51, 1);
          width: max-content;
          border-radius: 10px;
          cursor: pointer;
          background-color: rgba(180, 192, 204, 0.16);
          padding: 4px 8px;
          transition: 0.3s linear;

          &:hover {
            background-color: rgba(113, 121, 128, 0.16);
          }
        }
      }

      .more-btn {
        cursor: pointer;
        margin-top: 20px;
        width: max-content;
        color: rgba(0, 173, 173, 1);
        border-bottom: 1px dashed rgba(0, 173, 173, 1);
      }
    }
  }

  .mobile-navbar-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .service-container {
    width: 100%;

    .service-box {
      padding-left: 15px;
      padding-right: 15px;

      .title {
        font-size: 26px;
      }

      .services-tab {
        .category-name {
          font-size: 14px;
        }
      }

      .service-content {
        width: 100%;

        .title-service {
          font-size: 18px;
        }

        .services {
          margin-top: 10px;

          .service {
            font-size: 14px;
          }
        }
      }
    }

    .mobile-navbar-container {
      width: 100%;
      display: flex;
    }
  }

}
