.about-doctor-box {
  .about-hospital {
    padding-left: 80px;
    padding-right: 80px;

    .header {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      .photo-doctor {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .infotmation-doctor {
        width: 40%;

        .title {
          width: 50%;
          font-size: 30px;
          font-weight: bold;
        }

        .info {
          margin-top: 10px;
          display: flex;
          align-items: center;

          .items {
            color: rgba(38, 45, 51, 1);
            font-size: 16px;
            border-right: 1px solid rgba(179, 193, 204, 1);
            padding-right: 10px;
            margin-right: 10px;
          }
        }

        .section-commit {
          margin-top: 20px;
          display: flex;
          align-items: center;

          .raiting {
            width: max-content;
            background: rgb(255, 221, 140);
            background: linear-gradient(107deg, rgba(255, 221, 140, 1) 0%, rgba(219, 157, 22, 1) 100%);
            padding: 4px 10px;
            color: white;
            border-radius: 10px;
            margin-right: 10px;
          }

          .commit-count {
            color: rgba(133, 145, 158, 1);
            font-size: 14px;
            margin-right: 10px;
          }

          span {
            width: 3px;
            height: 3px;
            background-color: rgba(133, 145, 158, 1);
            margin-right: 10px;
            border-radius: 50%;
          }

          .name {
            color: rgba(133, 145, 158, 1);
            font-size: 14px;
          }
        }

        .location {
          margin-top: 10px;
          margin-bottom: 20px;
          font-size: 16px;
          color: rgba(38, 45, 51, 1);
        }

        .skills {
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          .skill {
            color: rgba(38, 45, 51, 1);
            font-size: 14px;
            background-color: rgba(180, 192, 204, 0.16);
            padding: 6px 10px;
            border-radius: 15px;
            margin-right: 10px;
          }
        }

        .like {
          margin-top: 10px;
          display: flex;
          align-items: center;
          padding: 5px 10px;
          border: 1px solid rgba(180, 192, 204, 0.26);
          width: max-content;
          border-radius: 20px;
          img {
            width: 17px;
            cursor: pointer;
            margin-right: 5px;
          }

          .name {

          }
        }
      }

      .buttons {
        width: 400px;
        border: 1px solid rgba(180, 192, 204, 0.26);
        padding: 15px;
        border-radius: 15px;

        .title {
          color: rgba(38, 45, 51, 1);
          font-size: 18px;
          font-weight: bold;
        }

        .date {
          margin-top: 10px;
          font-size: 16px;
          color: rgba(38, 45, 51, 1);
          font-weight: 400;
          display: flex;
          align-items:center;

          img {
            width: 20px;
            margin-right: 6px;
          }

        }

        .line {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 100%;
          height: 1px;
          background-color: rgba(180, 192, 204, 0.28);
        }

        .prices {
          width: 100%;
          padding-top: 5px;
          .item-price {
            margin-top: 8px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px dotted rgba(133, 145, 158, 1);

            .title {
              background-color: white;
              color: rgba(133, 145, 158, 1);
              margin-bottom: -6px;
              padding-right: 5px;
              font-weight: normal;
            }

            .number {
              background-color: white;
              margin-bottom: -6px;
              font-weight: bold;
              color: rgba(38, 45, 51, 1);
              padding-left: 5px;
            }
          }
        }

        .button-call {
          margin-top: 10px;
          padding: 10px 15px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #EDF7F7;
          color: #00ADAD;
          cursor: pointer;
        }

        .button-send {
          margin-top: 20px;
          cursor: pointer;
          padding: 10px 15px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #00ADAD;
          color: white;
        }
      }
    }

    .body {
      width: 70%;
      margin-bottom: 60px;

      .all-info-hospital {
        .title {
          color: rgba(38, 45, 51, 1);
          font-weight: 600;
          font-size: 22px;
        }

        .des {
          margin-top: 10px;
          color: rgba(38, 45, 51, 1);
          font-weight: 400;
          font-size: 16px;
        }
      }

      .images-location {
        .title {
          margin-top: 40px;
          color: rgba(38, 45, 51, 1);
          font-weight: 600;
          font-size: 22px;
        }

        .location {
          margin-top: 10px;
          margin-bottom: 10px;
          color: rgba(38, 45, 51, 1);
          display: flex;
          align-items: center;

          img {
            margin-right: 8px;
            width: 20px;
          }
        }

        .location-box {
          width: 100%;
          height: 220px;
          .map {
            width: 100%;
            height: 100%;

            .gm-style-iw-c {
              margin-top: -50px;
              box-shadow: rgba(230, 230, 230, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
            }

            .gm-style-iw-tc {
              margin-top: -50px;
            }

            .info-box-clinic {
              width: 350px;

              .photo-clinic {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;

                img {
                  width: 40%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .content {
                width: 100%;
                height: 50%;

                .header-clinic {
                  width: 100%;
                  display: block;

                  .name-clinic {
                    color: #262D33;
                    font-weight: 600;
                    font-size: 18px;
                  }

                  .section-commit {
                    display: flex;
                    align-items: center;

                    .raiting {
                      display: flex;
                      align-items: center;
                      color: rgba(253, 102, 112, 1);
                      margin-right: 10px;

                      img {
                        width: 20px;
                        margin-right: 10px;
                      }
                    }

                    .commit-count {
                      color: rgba(133, 145, 158, 1);
                      font-size: 14px;
                      margin-right: 10px;
                    }

                    span {
                      width: 3px;
                      height: 3px;
                      background-color: rgba(133, 145, 158, 1);
                      margin-right: 10px;
                      border-radius: 50%;
                    }

                    .name {
                      color: rgba(133, 145, 158, 1);
                      font-size: 14px;
                    }
                  }
                }

                .section-location {
                  margin-top: 10px;
                  display: flex;
                  align-items: center;

                  .location {
                    display: flex;
                    align-items: center;

                    img {
                      width: 17px;
                      margin-right: 5px;
                    }

                    color: rgba(38, 45, 51, 1);
                  }

                  span {
                    width: 3px;
                    height: 3px;
                    background-color: rgba(133, 145, 158, 1);
                    margin-right: 10px;
                    margin-left: 10px;
                    border-radius: 50%;
                  }

                  .time-open {
                    display: flex;
                    align-items: center;

                    img {
                      width: 17px;
                      margin-right: 5px;
                    }

                    color: rgba(38, 45, 51, 1);
                  }
                }

                .services {
                  display: flex;
                  flex-wrap: wrap;

                  .service {
                    margin-top: 10px;
                    border-radius: 20px;
                    padding: 5px 12px;
                    color: rgba(38, 45, 51, 1);
                    font-size: 12px;
                    margin-right: 6px;
                    background-color: rgba(180, 192, 204, 0.16);
                  }
                }

                .prices {

                  width: 100%;
                  margin-top: 10px;
                  padding-top: 5px;
                  border-top: 1px solid rgba(180, 192, 204, 0.28);

                  .item-price {
                    margin-top: 8px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 2px dotted rgba(133, 145, 158, 1);

                    .title {
                      margin-top: 0;
                      background-color: white;
                      color: rgba(133, 145, 158, 1);
                      margin-bottom: -6px;
                      padding-right: 5px;
                      font-size: 14px;
                    }

                    .number {
                      background-color: white;
                      margin-bottom: -6px;
                      font-weight: bold;
                      color: rgba(38, 45, 51, 1);
                      padding-left: 5px;
                    }
                  }
                }

                .buttons {
                  margin-top: 15px;
                  display: flex;
                  justify-content: space-between;

                  .left-btn {
                    display: flex;

                    .button-call {
                      padding: 8px 15px;
                      border-radius: 10px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background-color: #EDF7F7;
                      color: #00ADAD;

                      cursor: pointer;
                    }

                    .button-send {
                      margin-right: 10px;
                      cursor: pointer;
                      padding: 8px 15px;
                      border-radius: 10px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background-color: #00ADAD;
                      color: white;
                    }
                  }

                  .more-btn {
                    cursor: pointer;
                    margin-top: 10px;
                    width: max-content;
                    color: rgba(0, 173, 173, 1);
                    font-size: 14px;
                    border-bottom: 1px dashed rgba(0, 173, 173, 1);
                  }
                }
              }
            }

            .show-hide-btn {
              display: none;
            }

            .my-location{
              position: absolute;
              right: 70px;
              bottom: 30px;
              width: 40px;
              height: 40px;
              background-color: white;
              box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              img{
                width: 60%;
              }
            }
          }
        }
      }

      .comments-box {
        margin-top: 60px;
        width: 100%;

        .header-commet {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .counts {
            display: flex;
            align-items: center;

            .raiting {
              width: max-content;
              background: rgb(255, 221, 140);
              background: linear-gradient(107deg, rgba(255, 221, 140, 1) 0%, rgba(219, 157, 22, 1) 100%);
              padding: 4px 10px;
              color: white;
              border-radius: 10px;
              margin-right: 10px;
            }

            .commit-count {
              color: rgba(38, 45, 51, 1);
              font-size: 20px;
              margin-right: 10px;
              font-weight: bold;
            }
          }

          .btn-commit {
            padding: 7px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(38, 45, 51, 1);
            background-color: rgba(180, 192, 204, 0.16);
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;

            img {
              margin-right: 10px;
              width: 15px;
            }

            &:hover {
              background-color: rgba(149, 161, 173, 0.16);
            }
          }
        }

        .commits {
          margin-top: 20px;
          width: 100%;

          .header-commit {
            display: flex;
            align-items: center;

            .left-circle {
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              border-radius: 50%;
              background-color: rgba(250, 128, 66, 1);
              margin-right: 15px;
            }

            .right-names {

              .name {
                color: rgba(38, 45, 51, 1);
                font-size: 16px;

                span {
                  margin-left: 5px;
                  color: rgba(133, 145, 158, 1);
                }
              }

              .stars {
                img {
                  width: 13px;
                  margin-right: 8px;
                }

              }
            }
          }

          .text-commit {
            width: 100%;
            margin-top: 10px;
          }
        }

        .more-btn {
          cursor: pointer;
          margin-top: 10px;
          width: max-content;
          color: rgba(0, 173, 173, 1);
          font-size: 16px;
          border-bottom: 1px dashed rgba(0, 173, 173, 1);
        }
      }

      .doctors-warapper {
        margin-top: 40px;

        .title {
          color: rgba(38, 45, 51, 1);
          font-weight: 600;
          font-size: 22px;
        }

        .doctor {
          margin-left: 20px;
          margin-top: 25px;
          width: 100%;
          display: flex;
          border-bottom: 1px solid #B4C0CC47;
          padding-bottom: 20px;
          padding-right: 15px;

          .left-side {
            width: 160px;
            height: 200px;
            border-radius: 15px;
            overflow: hidden;
            padding: 0;
            position: relative;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .like {
              right: 10px;
              top: 8px;
              position: absolute;

              img {
                width: 20px;
                cursor: pointer;
              }
            }
          }

          .right-side {
            width: calc(100% - 240px);
            height: 100%;
            padding-left: 20px;

            .header-clinic {
              width: 100%;
              display: flex;

              .name-clinic {
                color: #262D33;
                font-weight: 600;
                font-size: 18px;
              }

              .section-commit {
                margin-top: 0;
                margin-left: 20px;
                display: flex;
                align-items: center;

                .raiting {
                  display: flex;
                  align-items: center;
                  margin-right: 10px;

                  img {
                    width: 20px;
                    margin-right: 10px;
                  }
                }

                .commit-count {
                  color: rgba(133, 145, 158, 1);
                  font-size: 14px;
                  margin-right: 10px;
                }

                span {
                  width: 3px;
                  height: 3px;
                  background-color: rgba(133, 145, 158, 1);
                  margin-right: 10px;
                  border-radius: 50%;
                }

                .name {
                  color: rgba(133, 145, 158, 1);
                  font-size: 14px;
                }
              }
            }

            .section-location {
              margin-top: 10px;
              display: flex;
              align-items: center;

              .location {
                display: flex;
                align-items: center;

                img {
                  width: 17px;
                  margin-right: 5px;
                }

                color: rgba(38, 45, 51, 1);
              }

              span {
                width: 3px;
                height: 3px;
                background-color: rgba(133, 145, 158, 1);
                margin-right: 10px;
                margin-left: 10px;
                border-radius: 50%;
              }

              .time-open {
                display: flex;
                align-items: center;

                img {
                  width: 17px;
                  margin-right: 5px;
                }

                color: rgba(38, 45, 51, 1);
              }
            }

            .services {
              display: flex;
              flex-wrap: wrap;

              .service {
                margin-top: 10px;
                border-radius: 20px;
                padding: 5px 12px;
                color: rgba(38, 45, 51, 1);
                font-size: 12px;
                margin-right: 6px;
                background-color: rgba(180, 192, 204, 0.16);
              }
            }

            .prices {
              width: 100%;
              margin-top: 10px;
              padding-top: 5px;
              border-top: 1px solid rgba(180, 192, 204, 0.28);

              .item-price {
                margin-top: 8px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 2px dotted rgba(133, 145, 158, 1);

                .title {
                  font-size: 16px;
                  background-color: white;
                  color: rgba(133, 145, 158, 1);
                  margin-bottom: -6px;
                  padding-right: 5px;
                  font-weight: normal;
                }

                .number {
                  background-color: white;
                  margin-bottom: -6px;
                  font-weight: bold;
                  color: rgba(38, 45, 51, 1);
                  padding-left: 5px;
                }
              }
            }

            .buttons {
              margin-top: 15px;
              display: flex;
              justify-content: space-between;

              .left-btn {
                display: flex;

                .button-call {
                  padding: 8px 15px;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: #EDF7F7;
                  color: #00ADAD;

                  cursor: pointer;
                }

                .button-send {
                  margin-right: 10px;
                  cursor: pointer;
                  padding: 8px 15px;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: #00ADAD;
                  color: white;
                }
              }

              .more-btn {
                cursor: pointer;
                margin-top: 10px;
                width: max-content;
                color: rgba(0, 173, 173, 1);
                font-size: 14px;
                border-bottom: 1px dashed rgba(0, 173, 173, 1);
              }
            }
          }

        }
      }
    }
  }
}