.footer-container {
  margin-top: 30px;
  width: 100%;
  background-color: rgba(255, 255, 255);
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;

  .top-content {
    display: flex;
    justify-content: space-between;

    .contents-footer {
      width: 32%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .links {
        margin-right: 5px;
        margin-top: 15px;
        cursor: pointer;
        transition: 0.3s;
        color: #85919E;

        &:hover {
          color: #060606;
        }
      }
    }

    .call {
      width: 27%;

      .title-call {
        font-weight: bold;
        font-size: 18px;
      }

      .des-call {
        margin-top: 10px;
        color: rgba(133, 145, 158, 1);
      }
    }

    .social-medias {
      width: 33%;

      .title-bot {
        font-weight: 600;
        font-size: 18px;
      }

      .des-bot {
        color: rgba(133, 145, 158, 1);
        font-weight: 400;
        margin-top: 4px;
      }

      .icon-social-media {
        margin-top: 10px;

        a {
          img {
            width: 45px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .bottom-content-footer {
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: max-content;
    justify-content: space-between;
    border-top: 1px solid rgba(180, 192, 204, 0.28);
    padding-top: 20px;
    padding-bottom: 30px;

    .text {
      color: #85919E;
      font-weight: 400;
    }

    .uzb {
      display: flex;
      align-items: center;
      color: #85919E;

      img {
        margin-right: 5px;
      }
    }
  }
}
@media (max-width: 768px) {
  .footer-container {
    margin-top: 30px;
    margin-bottom: 60px;
    .top-content {
      display: block;

      .contents-footer {
        width: 100%;
      }

      .call {
        margin-top: 20px;
        width: 100%;
      }

      .social-medias {
        margin-top: 20px;
        width: 100%;

        .icon-social-media {
          margin-top: 20px;
        }
      }
    }
    .bottom-content-footer {
      display: block;
    }
  }
}